
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*#flash-message {
    position:absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    animation: flash-message 10s forwards;
}
@keyframes flash-message {
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
}*/